@font-face {
  font-family: 'SF Pro Text';
  src:
    local('SF Pro Text'),
    url('/fonts/SF-Pro-Text-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  src:
    local('SF Pro Display'),
    url('/fonts/SF-Pro-Display-Regular.otf') format('opentype');
}


@font-face {
  font-family: 'Poppins Regular';
  src:
    local('Poppins'),
    url('/fonts/Poppins-Regular.ttf') format('truetype');
}
